.App {
  box-sizing: border-box;
}
.main-container {
  min-height: 600px;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
}

header {
    display: flex;
}
.main-nav {
  flex: 5;
}
.nav-item {
  flex: 1;
  padding: 5px;
  color:white;
}
.nav-container {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
.App-header {
  background-color: #222;
  height: 50px;
  padding: 10px;
  color: white;
  flex: 1;
}
.footer {
  background-color: #222;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
